.search {
  /*background-color: #FFFFFF;*/
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.search-item {
  background-color: #ddffff!important;
  padding: 14px;
  margin-top: 18px;
  margin-bottom: 18px;
  border-left: 6px solid #ccc!important;
  border-color: #2196F3!important;
}

body {
  /*background: url(/images/ava7patterns_pattern_1023.png);*/
  /*background-repeat:repeat-y repeat-x;*/
  background-image: radial-gradient(#99CCCC, #7171B7);
}

.container {
  background-color: #FAFAFA
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.login-box {
  padding: 12px 8px 12px 8px;
  /*background-color: #32ea32;*/
}

.sticky {
  position: fixed;
}

.carousel-my-container {
  padding: 0 0 0 0;
  background-color: rgba(0,0,0,0);
}

#backtotop { /* back to top button */
	position: fixed;
	bottom: 5%; /* 小按钮到浏览器底边的距离 */
	right: 5%; /* 小按钮到浏览器右边框的距离 */
	color: #333; /* 小按钮中文字的颜色 */
	z-index: 1000;
	background: #cfcfcf; /* 小按钮底色 */
	padding: 10px; /* 小按钮中文字到按钮边缘的距离 */
	border-radius: 100px; /* 小按钮圆角的弯曲程度（半径）*/
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	font-weight: normal; /* 小按钮中文字的粗细 */
	text-decoration: none !important;
}

#backtotop a {
  outline: none;
}

.anchor-correct {
  position: relative;
  bottom: 73px;
}

#screen_shot_list_table tbody > tr > td {
  /*background-color: #111;*/
  padding: 1px 3px 1px 3px;
}

#screen_shot_list_table {
  /*这个宽度好像无效，会自动设置成最小宽度*/
  width: 10px;
}

.remote-control {
  background-color: #132;
  width: 61.8vmax;
}

/*.remote-control-main-container {*/
  /*position: relative;*/
  /*left: 20px;*/
  /*top: 20px;*/
  /*width: 50vmax;*/
  /*height: 50vmax;*/
  /*background-color: #12fe32;*/
/*}*/

/* remote-control-main is a container for arrows and buttons
 * use relative to enable absolute position of imgs.
 */
.remote-control-main {
  position: relative;
  width: 100%;
  height: 0;
  /* padding-bottom will work too */
  padding-top: 100%;
  /* width: padding-top is actually width: height */
  /* because through percentage padding-top is de facto calculated
   * by father's width.
   * padding-top is calculated by father's width.
   * padding-top will change height.
   */
  background-color: #bbbbbb;
}

.remote-control-main #backward {
  position: absolute;
  top: calc(70% - 5%);
  left: 45%;
}
.remote-control-main #foreward {
  position: absolute;
  top: calc(30% - 5%);
  left: 45%;
}
.remote-control-main #turn-left {
  position: absolute;
  top: 45%;
  left: calc(30% - 5%);
}
.remote-control-main #turn-right {
  position: absolute;
  top: 45%;
  left: calc(70% - 5%);
}
.remote-control-main #turn-around {
  position: absolute;
  top: 45%;
  left: 45%;
}
.remote-control-main #accelerate {
  position: absolute;
  top: calc(60% - 5%);
  left: calc(90% - 5%);
}
.remote-control-main #decelerate {
  position: absolute;
  top: calc(40% - 5%);
  left: calc(90% - 5%);
}
