build/
__pycache__/
compiled/
db/
tmp/

*.exe
*.out
*.so
*.o
*.log
*.aux
*.pdf
*.db

/C51/whut_homeworks/LED/*
!/C51/whut_homeworks/LED/*.c
!/C51/whut_homeworks/LED/*.png

foo/
bar/
foo
bar
foo.*
bar.*
foobar.*

/ANN/bp_nn/dataset
/ANN/bp_nn/result
/ANN/**/*.sty

/C++/blitz/src/*.txt
/C++/blitz/src/test
