
<div class="container">
  <h1>ESP32</h1>
</div>

<hr/>

<div class="container">

  <div class="anchor-correct" id = "chuankouip"></div>
  <h2>通过串口获取设备IP地址</h2>

  <div class="alert alert-warning">请先确认ESP32单片机已与服务器电脑串口连接并且已经连上某个热点</div>

  <p>通过串口获取IP之后，由于ESP32自身搭建了个简单的HTTP服务，如果ESP32单片机是在局域网内，就可以简单地通过HTTP协议访问ESP32了。</p>

  <a href="/esp32/get_ip#ip_returned" class="btn btn-info" role="button">获取IP</a>

  <br/><br/>

  <div class="anchor-correct" id = "ip_returned"></div>
  <div class="card">
    <div class="card-body">
      IPv4: <br/><br/>
      @ip
    </div>
  </div>

</div>

<hr/>

<div class="container">

  <div class="remote-control">
    <div class="row no-gutters">
      <div class="col-12 col-lg-8">
        <div class="remote-control-main">
          <img src="/svg/si-glyph-arrow-thick-up.svg"
               alt=""
               id="foreward" width=10%/>
          <img src="/svg/si-glyph-arrow-thick-down.svg"
               alt=""
               id="backward" width=10%/>
          <img src="/svg/si-glyph-arrow-thick-left.svg"
               alt=""
               id="turn-left" width=10%/>
          <img src="/svg/si-glyph-arrow-thick-right.svg"
               alt=""
               id="turn-right" width=10%/>

          <img src="/svg/si-glyph-arrow-thick-thin-down.svg"
               alt=""
               id="accelerate" width=10%/>
          <img src="/svg/si-glyph-arrow-thick-thin-up.svg"
               alt=""
               id="decelerate" width=10%/>

          <img src="/svg/si-glyph-arrow-circle-rycycle.svg"
               alt=""
               id="turn-around" width=10%/>
        </div>
      </div>
    </div>
  </div>

</div>
