<div class="container">
  <h1>Pascal的主页</h1>
</div>
<hr/>
<div class="container">
  <h3>探索，创新，思考</h3>
</div>

<div class="chess-container">
  <canvas id="ChessCanvas" width="630" height="630">您的浏览器不支持显示棋盘</canvas>

  <div class="custom-control custom-radio">
    <input type="radio" id="leelaz" name="customRadio" class="custom-control-input">
    <label class="custom-control-label" for="leelaz">leelaz</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="AGo" name="customRadio" class="custom-control-input">
    <label class="custom-control-label" for="AGo">AGo</label>
  </div>
  <button class="btn btn-dark" onclick="onChessStart()">Start</button>
  <button class="btn btn-dark" onclick="onChessRestart()">Restart</button>
  <button class="btn btn-dark" onclick="onChessStop()">Stop</button>

</div>
<script src="/js/Go.js" charset="utf-8"></script>
