<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/css/style.css" />
  <!--<link rel="stylesheet" href="/css/loader.css" type="text/css" charset="utf-8" />-->

</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <script src="/js/jquery.md5.js"></script>

  <canvas id="canvas"></canvas>
  <script src="/js/background.js" charset="utf-8"></script>

  @carousel

  @navbar

  <div class="container">
    <br/><br/>
    @html-content
    <br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/>

  <div id="backtotop"><a href="#"><img src="/svg/backtotop.svg" width=18px height=18px /></a></div>

  <script src="/js/pascal.js" charset="utf-8"></script>
</body>
