html {
    --c-panel: #606060;
    --c-menu: #707070;
    --panel-width: 57px;
    --menu-height: 30px;
}

body {
    margin: 0px;
}
.main-panel {
    position: absolute;
    width: var(--panel-width);
    height: calc(100vh - var(--menu-height));
    background-color: var(--c-panel);
}

.main-menu {
    width: 100vw;
    height: var(--menu-height);
    background-color: var(--c-menu);
}

.main-container {
    position: absolute;
    left: var(--panel-width);
    width: calc(100vw - var(--panel-width));
    height: calc(100vh - var(--menu-height));
}

.panel-item {
    width: var(--panel-width);
    height: var(--panel-width);
    /*background-color: cyan;*/
}

.panel-item svg path {
    fill: #e6e6e6;
}
.panel-item svg:hover path {
    fill: #ffffff;
}
