<br/>

<div class="container">
  <h1>ESP32</h1>
</div>

<hr/>

<div class="container">
  <div class="container">

    <h2 id="chuankouip">通过串口获取设备IP地址</h2>

    <div class="alert alert-warning">请先确认ESP32单片机已与服务器电脑串口连接并且已经连上某个热点</div>

    <p>通过串口获取IP之后，由于ESP32自身搭建了个简单的HTTP服务，如果ESP32单片机是在局域网内，就可以简单地通过HTTP协议访问ESP32了。</p>

    <a href="/get_ip" class="btn btn-info" role="button">获取IP</a>

    <br/><br/>
    <div class="card">
      <div class="card-body">
        IPv4: <br/><br/>
        @ip
      </div>
    </div>
  </div>
</div>
